server:
  port: 9940
  tomcat:
    uri-encoding: UTF-8

spring:
  http:
    encoding:
      charset: UTF-8
      force: true
#  rabbitmq:
#    host: 127.0.0.1
#    port: 5672
#    username: xlaoy
#    password: 123456
#    virtual-host: /xlaoy

# config 配置对称加密
encrypt:
  key: wocaofuck

#打开actuator的所有端点
management:
  endpoints:
    web:
      exposure:
        include: "*"

swagger:
  docket:
    actuator:
      title: actuator模块
      base-package: org.springframework.boot.actuate.endpoint.web.servlet
    config:
      title: config模块
      base-package: org.springframework.cloud.config.server.environment
    encryption:
      title: encryption模块
      base-package: org.springframework.cloud.config.server.encryption
    system:
      title: system模块
      base-package: com.xlaoy
